@font-face {
  font-family: 'iconfont';  /* project id 1433540 */
  src: url('//at.alicdn.com/t/font_1433540_7e2jdmdqh1o.eot');
  src: url('//at.alicdn.com/t/font_1433540_7e2jdmdqh1o.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1433540_7e2jdmdqh1o.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1433540_7e2jdmdqh1o.woff') format('woff'),
  url('//at.alicdn.com/t/font_1433540_7e2jdmdqh1o.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1433540_7e2jdmdqh1o.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}