@import '~common/stylus/variable.styl'
.toolbar-icon
  position relative
  display inline-block
  vertical-align: top
  padding: 0 2px
  height: 20px
  color: pink
  cursor: pointer
  &:hover
    background: $color-icon-hover 
.active-toolbar-icon
  color: purple