@import '~common/stylus/variable.styl'
.toolbar-icon
  position relative
  display inline-block
  padding 2px
  color: pink
  cursor: pointer
  &:hover
    background: $color-icon-hover 
.active-toolbar-icon
  color: purple