.dropbox-wrapper
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3)
  outline: 1px solid rgba(0, 0, 0, .3)
  .triangle
    content: ''
    position: absolute
    top: calc(100% + 2)
    left: 50%
    border: 3px solid transparent
    border-top-color: pink
  #dropbox
    position: absolute
    top: calc(100% + 5)
    left: 50%