.color-list
  .color-item
    grid-template-columns: repeat(6, 1fr)
    cursor: pointer
    &: hover
      box-shadow: 0 2px 2px gray
      transform: scale(1.2)
    .color-item-content
      display: inline-block
      width: 5px
      height: 5px
      