.color-list
  display: grid
  grid-template-columns: repeat(6, 1fr)
  padding: 5px
  border-radius: 2px
  .color-item
    cursor: pointer
    & + .color-item
      margin-left: 3px
    &: hover
      box-shadow: 0 2px 2px purple
      outline: 1px solid purple
      transform: scale(1.2)
    .color-item-content
      display: inline-block
      width: 16px
      height: 16px
      